<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hashtags</title>
</head>
<body>
<div th:replace="fragments :: header"></div>
    <div class = "container">
        <ul class="hashtag-ul">
        <h1 class="hashtag-h1" th:text="${hashtag.name}"></h1>
            <li th:each = "thing: ${hashtag.sites}" >
                <img class="icon" th:src="${thing.imgUrl}" th:alt="${thing.altImgTxt}" />
                <a th:href="'/sites/' +
                    ${thing.id}" th:text="${thing.name}">
            </a></li>
        </ul>
    </div>

    <main>
        <div th:replace="fragments :: footer"></div>
    </main>
</body>
</html>
